.SliderRow
{
    flow-children: right;
    background-color: #42494e;
    z-index:5;
    width: 200px;
}

#TopBarDirePlayers
{
    margin-top:0px;
    margin-right:300px;
    z-index:1;
	width: 200px;
	height: 20px;
}

#TopBarRadiantTeam
{
    margin-top:0px;
    margin-right:400px;
    z-index:1;
	width: 200px;
	height: 20px;
}

#Slider1
{
    margin-top:0px;
    margin-right:300px;
    margin-left:200px;
    z-index:1;
	width: 200px;
	height: 20px;
}
#ZoomSliderBox
{
	margin-left:200px;
    visibility: collapse;
    horizontal-align: center;
    vertical-align: top;
    width: 279px;
    height: 64px;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #908585 ), color-stop( 0.25, #62696e ), color-stop( 0.5, #AA9595 ), color-stop( 0.75, #62696e ), to( #908585 ) );
	margin-top:90px;
    z-index:8;
    border-radius: 4px;
}

.ZoomLabel
{
    vertical-align: center;
    margin-left:5px;
    color: #55AAFF;
    font-size: 16px;
}

.ZoomLabelVal
{
     horizontal-align: right;
    margin:2px;
    margin-right:5px;
    color: #FFFFFF;
    font-size: 14px;
}

#TopBarDireTeam2
{
	margin-left: 52px;
}

#TopBarRadiantTeam2 .TopBarBackground
{
    transform: scaleX(-1);
}

#TopBarRadiantTeam2
{
	horizontal-align: right;
	margin-right: 52px;
}

