 
#label{
        margin-top: 400px;
		margin-left: 350px;
		font-size: 50px;
		color: #F63322;
}
 
#label2{
        margin-top: 600px;
                margin-left: 350px;
                font-size: 50px;
                color: #F63322;
}
#image{
        margin-top: 400px;
		margin-left: 230px;
        width: 100px;
        height: 100px;
}


#name{
        margin-top: 500px;
		margin-left: 225px;
        width: 200px;
        height: 200px;
}
 
