 
#label{
        margin-top: 400px;
		margin-left: 350px;
		font-size: 50px;
		color: #F63322;
}
#image{
        margin-top: 900px;
		margin-left: 700px;
        width: 100px;
        height: 120px;
}

#image4{
        margin-top: 890px;
		margin-left: 800px;
        width: 100px;
        height: 120px;
}

#image5{
        margin-top: 890px;
		margin-left: 620px;
        width: 200px;
        height: 200px;
}

#image6{
        margin-top: 890px;
		margin-left: 440px;
        width: 200px;
        height: 200px;
}

#name{
        margin-top: 500px;
		margin-left: 225px;
        width: 200px;
        height: 200px;
}
 
